/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-Aug-2017, 20:33:48
    Author     : tszin
*/

html, body {
    height: 100%;
    margin: 0;

}


#menu{
    position: fixed;
    top:0%;
    left: 0%;
    width: 20%;
    height: 100%;
    background-color: brown;
}

#right_wrapper{
    width: 80%;
    height: auto;
    outline: 1px solid;
    position: absolute;
    right: 0;
    display: flex;
    background-color: blueviolet;
    /* Direction of the items, can be row or column */
    flex-direction: column;

}

#header{
    height: 100px;
    background-color: green;

}

#content{
   
}

#footer{
    height: 900px;
    background-color: skyblue;
}



.selectedLink{
    color: red;
    background: #e9f6fc;
}



.login{
    position: absolute;
    align-items: center;
    top: 3px;
    right: 3px;
 width: auto;
    height: auto;
}