/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-Jul-2017, 22:45:06
    Author     : tszin
*/
#menu{
    position: fixed;
    top:0%;
    left: 0%;
    width: 20%;
    height: 100%;
    background-color: brown;
}

#header{
    position: relative;
    top:0%;
    left: 20%;
    width: 80%;
    height: 25%;
    background-color: green;
    display: block;

}

#wrapperContentAndReviews{
    position: relative;
    top:25%;
    left: 20%;
    width: 80%;
display: block;
}


#content{
    box-sizing: border-box;   /*хорошее свойство, позволяет оставить див в заданных рамках при padding*/
    padding: 20px;           /*увеличивает див на заданную величину, не очень подходит*/
  


    background-color: #dcdcdc;
    display: block;

}

#reviews{
  

    height: 160px;
    background-color: deeppink;
    display: block;

}

.welcome{
    position: absolute;
    align-items: center;
    top: 3px;
    left: 87%;
    width: 10%;
    height: 10%;
}

.listrowOrg{
    position: relative;   /*сейчас вложенные дивы будут отсчитывать позицию от этого*/
    box-sizing: border-box;   /*хорошее свойство, позволяет оставить див в заданных рамках при padding*/
    margin: 20px;
    margin-bottom: 40px;
    height: 280px;
}
#itemname{
    position: absolute;
    display: table-cell;
    box-sizing: border-box;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 20px;
    text-align:center;
}

#itemphoto{
    position: absolute;
    box-sizing: border-box;
    top: 30px;
    left: 0%;
    width: 250px;    
}

#itemsections{
    position: absolute; 
    box-sizing: border-box;
    top: 30px;
    left: 260px;
    width: 350px;
    height: 250px;
    font-size:medium;
}

#itemdescr{
    position: absolute;
    box-sizing: border-box;
    top: 30px;
    left: 620px;
    height: 250px;    
    font-size:medium;
}





.listrowReview{
    position: relative;   /*сейчас вложенные дивы будут отсчитывать позицию от этого*/
    box-sizing: border-box;   /*хорошее свойство, позволяет оставить див в заданных рамках при padding*/
    margin: 10px;
    margin-bottom: 20px;
    height: 100px;
}

#reviewname{
    position: absolute;
    display: table-cell;
    box-sizing: border-box;
    top: 0%;
    left: 110px;
    
    height: 20px;
    text-align:left;
}

#reviewphoto{
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    left: 0%;
    height: 100px;
    width: 100px;    
}


#reviewdescr{
    position: absolute;
    box-sizing: border-box;
    top: 30px;
    left: 110px;
    height: 70px;    
    font-size:small;
}










#dialogwrapper{
    position: relative;
    box-sizing: border-box;   /*хорошее свойство, позволяет оставить див в заданных рамках при padding*/
    margin: 20px;
    background-color: hotpink;
}

#dialog_itemphoto{
    position: absolute;
    box-sizing: border-box;
    top: 30px;
    left: 0%;
    width: 210px; 
    background-color: bisque;    
}

#dialog_itemsections{
    position: absolute; 
    box-sizing: border-box;
    top: 30px;
    left: 230px;
    width: 400px;
    height: 300px;
    font-size:medium;
    background-color: blueviolet;
}

#dialog_itemdescr{
    position: absolute;
    box-sizing: border-box;
    top: 30px;
    left: 650px;
    height: 300px;    
    font-size:medium;
    background-color: chartreuse;
}

#dialog_checkbox{
    position: absolute;
    box-sizing: border-box;
    top: 360px;
    left: 0%;
    height: 25px;    
    font-size:medium;
    background-color: burlywood;
}

#dialog_buttons{
    position: absolute;
    box-sizing: border-box;
    top: 390px;
    left: 0%;
    height: 40px;    
    font-size:medium;
    background-color: brown;
}

.edit-title{
    font-weight: bold;
    color:#880000;
}

.edit-field{
    width:360px !important;
}