/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-Jul-2017, 22:45:06
    Author     : tszin
*/

#header{
     position: fixed;
     top:0%;
     left: 20%;
     width: 80%;
     height: 25%;
     background-color: green;
 }

#menu{
    position: fixed;
    top:0%;
    left: 0%;
    width: 20%;
    height: 100%;
    background-color: brown;
}


#content{
    box-sizing: border-box;   /*хорошее свойство, позволяет оставить див в заданных рамках при padding*/
    padding: 20px;           /*увеличивает див на заданную величину, не очень подходит*/
    position: absolute;
    top:25%;
    left: 20%;
    width: 80%;
    height: 2000px;
    background-color: blue;
}